.root{
	fx-background-color: linear-gradient(blue,green);
}
#headingtext .text{
	-fx-font: 100px Verdana;
	-fx-fill: linear-gradient(orange,red);
	-fx-stroke: black;
	-fx-stroke-width: 1px;
}
#subheadingtext .text{
	-fx-font: 50px Verdana;
	-fx-fill: linear-gradient(orange,red);
	-fx-stroke: black;
	-fx-stroke-width: 1px;
}
#captiontext .text{
	-fx-font: 30px Verdana;
	-fx-fill: black;
}
.button {
	-fx-background-color: linear-gradient(#ff5400, #be1d00);
	-fx-background-radius: 30;
	-fx-text-fill: white;
}
.button:hover {
	fx-background-color: linear-gradient(#cc0000, #be1d00);
	fx-text-fill: black;
}